


/* mobile first */

body{
    font-family: 'Montserrat', sans-serif;
    .contBody{
        display: grid;
        grid-template-areas: "headerGrid"
                             "mainGrid"
                             "footerGrid";
        align-items: center;
    }
    
}
