
/* footer */
.footerGrid{
    
    text-decoration: none;
    text-underline-offset: none;
    color: yellow;
    font-size: small;
    grid-area: footerGrid;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    text-decoration: none;
    background-color: black;
}


.formulario{
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #ffffff;

}
