
/* header */
header{
    background: linear-gradient(to right, #414141 0%, #000000 100%); 
    header h1{
        padding: 15px 2px;
        
    }
    
    header h1 a:hover{
        color:rgb(68, 206, 34);
        font-weight: bolder;
    } a{ 
        text-decoration: none;
        color: #3f8f35;
        font-size: 1.9em;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    .headerGrid{
        grid-area: headerGrid;
    
    }
}





.navBar{
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

nav ul li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #f3f7f2;
    padding: 5px 12px;
    font-weight: bold;
    display: inline-block;
}
